body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #bfcbbe;
  color: #1d1420;
}

header {
  background-color: #8a8f63;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #8a8f63;
  color: white;
  text-align: center;
  padding: 10px 0;
}

button {
  background-color: #1d1420;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #908c92;
}
