body {
  font-family: Arial, sans-serif;
  color: #1d1420;
  background-color: #bfcbbe;
}

header {
  background-color: #00aeff;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  padding: 10px 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #46c37a;
}

main {
  padding: 20px;
}
