.contact {
  padding: 20px;
}

.contact h1 {
  color: #381145;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.contact ul li {
  margin-bottom: 10px;
}
